<div class="container-md d-none flex-column justify-content-center align-items-center h-full" id="game-end-screen">
    <div class="card rounded shadow-lg font-size-18 border-0 p-0 landing-card">
        <h2 class="card-title m-20 text-center">Final Scoreboard</h2>
        <table class="table" id="final-scoreboard-table">
            <tbody>
              <tr class="table-success">
                <td>Success</td>
                <td>Cell</td>
              </tr>
              <tr class="table-secondary">
                <td>Secondary</td>
                <td>Cell</td>
              </tr>
              <tr>
                <td>Default</td>
                <td>Cell</td>
              </tr>
              <tr>
                <td>Default</td>
                <td>Cell</td>
              </tr>
              <tr>
                <td>Default</td>
                <td>Cell</td>
              </tr>
              <tr class="table-danger">
                <td>Danger</td>
                <td>Cell</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>